$fontFamily1: 'Avenir Next';
$fontFamily2: 'LFT Etica Display';

$animeCubic1: cubic-bezier(0.48, 0.46, 0.14, 0.98);
$animeCubic2: cubic-bezier(0.57, 0.55, 0.19, 1);
$animeCubic3: cubic-bezier(0.66, 0.26, 0.1, 0.95);
$animeCubic4: cubic-bezier(0.16, 1, 0.3, 1);

$navShowClass: '#{$popupNavMenu}--show';
$navBeforeShowClass: '#{$popupNavMenu}--beforeShow';
