/* Proxima Nova */

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: normal;
//     font-weight: 300;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-Light.otf') format('opentype');
// }

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: italic;
//     font-weight: 300;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-LightIt.otf') format('opentype');
// }

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('~/assets/fonts/ProximaNova-Regular.otf') format('opentype');
}

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: italic;
//     font-weight: 400;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-RegularIt.otf') format('opentype');
// }

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: url('~/assets/fonts/ProximaNova-Medium.otf') format('opentype');
}

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: italic;
//     font-weight: 500;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-MediumIt.otf') format('opentype');
// }

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: url('~/assets/fonts/ProximaNova-Semibold.otf') format('opentype');
}

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: italic;
//     font-weight: 600;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-SemiboldIt.otf') format('opentype');
// }

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('~/assets/fonts/ProximaNova-Bold.otf') format('opentype');
}

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: italic;
//     font-weight: 700;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-BoldIt.otf') format('opentype');
// }

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: normal;
//     font-weight: 800;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-Extrabld.otf') format('opentype');
// }

// @font-face {
//     font-family: 'Proxima Nova';
//     font-style: italic;
//     font-weight: 800;
//     font-display: optional;
//     src: url('~/assets/fonts/ProximaNova-ExtrabldIt.otf') format('opentype');
// }
