/* Avenir Next */
@font-face {
    font-family: 'Avenir Next';
    font-weight: 500;
    src: url('~/assets/fonts/AvenirNext-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next';
    font-weight: 600;
    src: url('~/assets/fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next';
    font-weight: 700;
    src: url('~/assets/fonts/AvenirNext-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'LFT Etica Display';
    font-weight: 400;
    src: url('~/assets/fonts/LFTEticaDisplay-HeavyItalic.otf') format('opentype');
    font-display: swap;
}
