# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

## docker
Dockerfile
Dockerfile.*
docker-compose.yml

## bitbucket
# bitbucket-pipelines.yml
!.bitbucket/Dockerfile.bitbucket
# .bitbucket/

## EB
.elasticbeanstalk/
!.eb/docker-compose.yml
!.eb/

## env
