// 文字大小 px => rem
@function rem($value) {
    $remValue: calc($value / var(--font-size-base-int) * 1rem);
    @return $remValue;
}

// 文字大小10px
@mixin fontSize10($important: null) {
    @if $important == important {
        font-size: rem(12) !important;
    } @else {
        font-size: rem(12);
    }
    transform: scale(0.83333);
    transform-origin: 0 0;
}
// 文字大小11px
@mixin fontSize11($important: null) {
    @if $important == important {
        font-size: rem(12) !important;
    } @else {
        font-size: rem(12);
    }
    transform: scale(0.91666);
    transform-origin: 0 0;
}

@function get-font-list($label) {
    @each $list in $font-size-base {
        @if nth($list, 1) == $label {
            @return $list;
        }
    }
    @return null;
}

//@debug "font-size-base: #{$media-query-list}";
//use ex: @include fontStyle('text-h1');
@mixin fontStyle($type) {
    $font: map-get($font-size-base, $type);
    @if $font {
        $desktop: map-get($font, desktop);
        $responsive: map-get($font, responsive);
        @apply #{$desktop};
        @screen lt-lg {
            @apply #{$responsive};
        }
    }
}
