// 文字大小 px => rem
@function rem($value) {
    $remValue: calc($value / var(--font-size-base-int) * 1rem);
    @return $remValue;
}

// 文字大小10px
@mixin fontSize10($important: null) {
    @if $important == important {
        font-size: rem(12) !important;
    } @else {
        font-size: rem(12);
    }
    transform: scale(0.83333);
    transform-origin: 0 0;
}
// 文字大小11px
@mixin fontSize11($important: null) {
    @if $important == important {
        font-size: rem(12) !important;
    } @else {
        font-size: rem(12);
    }
    transform: scale(0.91666);
    transform-origin: 0 0;
}

// 產生共用fontSize className
// ※$font-size-base => 由~/config/vite.ts產生,可使用下方@debug方式查看
// ※scss擴充使用 => ex: .xxx{ @extend .text-h1; }
// @debug "font-size-base: #{$font-size-base}";
@each $name, $desktop, $responsive in $font-size-base {
    .#{$name} {
        @apply #{$desktop};
        @screen max-lg {
            @apply #{$responsive};
        }
    }
}
