//#region media query 共用方法
//小於
@mixin mediaMax($name) {
    @media all and (max-width: map-get($media-query-list, $name,'max')) {
        @content;
    }
}
//大於
@mixin mediaMin($name) {
    @media all and (min-width: map-get($media-query-list, $name,'min')) {
        @content;
    }
}
//#endregion

// 產生共用media className
// ※$media-query-list => 由~/config/vite.ts產生,可使用下方@debug方式查看
// ※html tag class擴充使用 => ex: <div class="media-xl"></div>
// @debug "media-query-list: #{$media-query-list}";
@each $name, $value in $media-query-list {
    $max-width: map-get($value, max);
    .media-#{$name} {
        max-width: $max-width;
        margin: 0 auto;
        @if $name == 5xl {
            @include mediaMax($name) {
                margin: 0;
            }
        } @else {
            @include mediaMax($name) {
                margin: 0 16px;
            }
        }
    }
}
