@mixin cateSection {
}
@mixin cateDes {
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    background-color: #fdfdfd;
    margin: 0px 0px 20px;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}
@mixin cateDes-tailwind-apply {
    @apply text-6xl font-semibold text-blue-600;
}
.pageDsGuide {
    padding: 20px 15px;

    .cateSection {
        @include cateSection;
    }
    .cateTitle {
        font-style: italic;
        color: #000000;
        margin-bottom: 10px;
        padding-left: 0px;
        font-size: 20px;
    }
    .cateDes {
        @include cateDes;
    }
    .apply-tailwindcss {
        @include cateDes-tailwind-apply;
    }
    .apply-screen-xl {
        @screen min-xl {
            color: #000;
            font-size: 22px;
            letter-spacing: 20px;
            @apply font-en;
        }
    }

    .breakpoint__watch {
        margin-top: 30px;
    }
    .breakpoint__log {
        padding: 12px 15px;
        background-color: #ebebeb;
        color: #0006ff;
        border-radius: 5px;
        margin-top: 5px;
        min-height: 70px;
        max-height: 200px;
        overflow-y: auto;
    }
    .link-external {
        color: #008ed5;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
