header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9000;
    color: #fff;
    @include fontStyle('text-heading-m');

    .#{$layoutScrollDown} & {
        pointer-events: none;
    }
}
