html {
    font-size: var(--font-size-base-px);
}
body {
    @apply bg-grey-50;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
